<style>
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1fb7e0;
  color: white;
}
</style>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>
<div>
    <div class="topnav">
        <a class="active" href="/choose_game">Choose game</a>
        <a href="/news">News</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Exit</a>
    </div>
</div>