<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinionGames</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <script src="static/js/modernizr.min.js" type="text/javascript"></script>
    <link href="static/css/register.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    {% if show_error == True %}
        {% block content %}
        <script>alert("Can not register with this username!")</script>
        {% endblock content %}
    {% endif %}
</head>
<body>
<!-- partial:index.partial.html -->
<form action="register" method="post">
    <h1>Register</h1><br/>
    <a href="/">Login</a>
    <span class="input"></span>
    <input autocomplete="off" autofocus name="username" placeholder="username" required type="text"/>
    <span id="passwordMeter"></span>
    <input id="password" name="password" placeholder="password"
           required title="Use strong password min 8 characters" type="password"/>
    <button class="icon-arrow-right" title="Submit form" type="submit" value="Sign Up"><span>Sign up</span></button>

</form>
<!-- partial -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/register.js"></script>

</body>
</html>
